*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

.main
{
    background-color: black;
}

body
{
    background-color: black;
}

.menu-bar
{
    background-color:#F2AA4CFF;
}

.search-job
{
    padding: 30px 0;
    margin: -50px 6% 50px;
    background-color:#F2AA4CFF;
}

.search-job .form-control
{
    max-width: 250px;
    display: inline-flex;
    margin: 10px 5px;
    border-radius: 0;
    box-shadow: none !important;
    border: none !important;
}



.company-details
{
    box-shadow: 0 2px 70px 0 rgba(110,130,208, .18);
    border-radius: 5px;
    margin-bottom: 20px;
}

.job-update
{
    background:#fff;
    padding:10px 20px;
    border-radius:5px;
}

.job-update .fa
{
    margin-top: 5px;
    margin-right: 10px;
    color: #77d1b1;
}

.apply-btn
{
    height:40px;
    background-color: #F2AA4CFF;
    padding:7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}